.li {
  list-style-image: url(../../../icons/check-circle.svg);
  list-style-type: disc;
  margin-bottom: var(--space-lg);
  padding-inline-start: var(--space-md);
}

.li > h3 {
  line-height: 1;
  margin-bottom: var(--space-md);
}
