@import '../../../styles/vars.css';

.aboutSection {
  padding-top: 60px;
  margin-bottom: 0;
  padding-bottom: 60px;
}

.aboutSection > div {
  border-radius: var(--shape-radius-md);
  background: var(--color-primary-extra-light);
  color: #333;
  padding: var(--space-md);
}

.aboutSection > div > div > div > p {
  margin-bottom: 0;
}

.aboutSection > div > div > div > h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: var(--space-md);
  text-align: left;
}

@media (min-width: 600px) {
  .aboutSection > div > div {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-md);
  }

  .aboutSection > div > div > div:first-child {
    flex: 5;
  }

  .aboutSection > div > div > div:nth-child(2) {
    display: flex;
    flex: 7;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .aboutSection > div > div > div:first-child {
    flex: 6;
  }

  .aboutSection > div > div > div:nth-child(2) {
    flex: 6;
  }
}
