@import '../../../styles/vars.css';

.section > h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width: 319px) {
  .section > h2 {
    font-size: 2rem;
  }
}

.section > ul {
  display: grid;
  grid-gap: var(--space-lg);
}

@media (min-width: 600px) {
  .section > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .section > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
