@import '../../../../styles/vars.css';

.canvas {
  display: none;
}

@media (min-width: 768px) {
  .canvas {
    background: var(--color-bg);
    display: block;
    height: 100%;
    padding-top: 97.375%;
    position: relative !important;
  }

  .canvas > canvas {
    position: absolute !important;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
