:root {
  /* COLOR PALETTE */
  --color-bg: hsl(221, 24%, 13%);
  --color-bg-alpha-55: hsla(221, 24%, 13%, 0.55);
  --color-bg-alpha-75: hsla(221, 24%, 13%, 0.75);
  --color-bg-alpha-95: hsla(221, 24%, 13%, 0.95);
  --color-bg-alt: hsl(221, 24%, 17%);
  --color-btn-text: var(--color-bg);
  --color-logo-text: hsl(0, 0%, 73%);
  --color-primary: hsl(163, 99%, 43%);
  --color-primary-alpha-20: hsla(163, 99%, 43%, 0.2);
  --color-primary-alpha-35: hsla(163, 99%, 43%, 0.35);
  --color-primary-light: hsl(163, 99%, 48%);
  --color-primary-extra-light: hsl(163, 99%, 53%);
  --color-shadows-alpha-40: hsla(0, 0%, 0%, 0.4);
  --color-shadows-alpha-20: hsla(0, 0%, 0%, 0.2);
  --color-text: hsl(0, 0%, 100%);
  --color-text-inverse: hsl(0, 0%, 100%);

  /* FONTS */
  --font-body: 'Roboto', Verdana, Sans-Serif;
  --font-heading: 'Mulish', 'Roboto', Arial, Sans-Serif;

  /* SPACING */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;

  /* BREAKPOINTS */
  --breakpoint-xs: 0;
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1536px;

  /* SHAPES */
  --shape-radius-sm: 0.25rem;
  --shape-radius-md: 0.5rem;
  --shape-radius-lg: 1rem;
}
