@import '../../../styles/vars.css';

.eCommerceSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 60px;
}

.eCommerceSection > div > h2 {
  margin-bottom: var(--space-lg);
}

.imgWrapper {
  width: 100%;
}

.link {
  background: var(--color-primary);
  border: none;
  border-radius: var(--shape-radius-sm);
  color: var(--color-bg);
  cursor: pointer;
  display: block;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: var(--space-lg);
  padding: var(--space-md);
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.33s ease;
}

.link:hover {
  background: var(--color-primary-light);
}

@media screen and (min-width: 700px) {
  .eCommerceSection {
    flex-direction: row;
    gap: 100px;
  }

  .imgWrapper {
    flex: 5;
  }

  .textWrapper {
    flex: 7;
    max-width: 78ch;
    margin: auto 0;
  }

  .link {
    width: 270px;
  }
}

@media screen and (min-width: 900px) {
  .textWrapper {
    flex: 6;
  }

  .imgWrapper {
    flex: 6;
  }
}
