.innerCanvasWrapper {
  height: 100%;
  padding-top: 91.7628%;
  position: relative !important;
}

.innerCanvasWrapper > canvas {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute !important;
  right: 0;
  top: 0;
}

.outerCanvasWrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .outerCanvasWrapper {
    flex: 6;
  }
}
