.btn {
  background: var(--color-primary);
  border: none;
  border-radius: var(--shape-radius-sm);
  color: var(--color-btn-text);
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2ch;
  padding: var(--space-md);
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.33s ease;
  width: 100%;
}

.btn:hover {
  background: var(--color-primary-light);
  cursor: pointer;
}

.btn[disabled] {
  background: var(--color-primary-light);
  cursor: not-allowed;
}

@media only screen and (min-width: 600px) {
  .btn {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
    width: unset;
  }
}
