@import '../../../../styles/vars.css';

.pageNav {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-xl);
  width: 100%;
}

.link {
  color: var(--color-text);
  font-family: var(--font-heading);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.activeLink {
  border-bottom: var(--color-primary) solid 2px;
}
