.form {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  width: 100%;
}

.form > input,
.form > textarea {
  background: var(--color-bg);
  border: 1px dotted var(--color-primary);
  border-radius: var(--shape-radius-sm);
  color: var(--color-text);
  padding: var(--space-md);
}

.form > input {
  margin-bottom: var(--space-md);
}

.form > label {
  margin-bottom: var(--space-xs);
}

.form > textarea {
  margin-bottom: var(--space-lg);
  min-height: 8rem;
  resize: vertical;
}
