.section {
  background: var(--color-bg-alpha-95);
  border-radius: var(--shape-radius-md);
  box-shadow: 0 29px 52px var(--color-shadows-alpha-40), 0 25px 16px var(--color-shadows-alpha-20);
  margin-bottom: calc(var(--space-2xl) * 2);
  margin-inline: auto;
  margin-top: calc(var(--space-2xl) * 2);
  padding: var(--space-xl) var(--space-lg);
  position: relative;
  width: min(calc(100% - var(--space-xl)), 1264px);
}

.heading {
  line-height: 1;
  margin-bottom: var(--space-md);
}

.section > p {
  margin-bottom: var(--space-xl);
}

@media (min-width: 600px) {
  .heading {
    margin-bottom: var(--space-xl);
    text-align: center;
  }

  .section {
    border-radius: var(--shape-radius-lg);
    margin-bottom: calc(var(--space-2xl) * 3);
    margin-top: calc(var(--space-2xl) * 3);
    padding-bottom: calc(var(--space-lg) * 4);
    padding-top: calc(var(--space-lg) * 4);
  }

  .section > p {
    margin-bottom: var(--space-xl);
    margin-inline: auto;
    max-width: 75ch;
    text-align: center;
  }
}
